:root {
  --main-text-color: #F1B2CE;
  --title-decor-color: #000028;
  --accent-color: #FF0070;
  --button-color: #FF0070;
  --button-color-semi-transparent: rgba(255, 0, 112, 0.4);
  --second-accent-color: #DB00FF;
  --background-color: #000028;
  --background-decor-color: #FF0070;
  --padding-mobile: 10px;
  --padding-tablet-desktop: 20px;
  --margin-tablet-desktop-negative: calc(var(--padding-tablet-desktop)* -1);
  --font-family-default: "IBM Plex mono";
  --font-size-default: 18px;
  --line-height-default: 1.3em;
  --large-text-size-mobile: 116px;
  --large-text-size-tablet: 120px;
  --large-text-size-desktop: 157px;
  --background-image: url("../images/cover-image-dark.png");
}